<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
     interface="Autodesk.Connectivity.JobProcessor.Extensibility.IJobHandler, Autodesk.Connectivity.JobProcessor.Extensibility"
     type="adsk.ts.nwd.create.navisworks.JobExtension, adsk.ts.nwd.create.navisworks">
      <setting key="JobType1" value="adsk.ts.nwd.create.navisworks"/>
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>