<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
     interface="Autodesk.Connectivity.JobProcessor.Extensibility.IJobHandler, Autodesk.Connectivity.JobProcessor.Extensibility"
     type="adsk.ts.pdf.create.office.JobExtension, adsk.ts.pdf.create.office">
      <setting key="JobType1" value="adsk.ts.pdf.create.office"/>
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>
