<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.Connectivity.WebServices.IWebServiceExtension, Autodesk.Connectivity.WebServices"
      type="adsk.ts.job.collection.user.EventHandlers, adsk.ts.job.collection.user">
    </extension>
    <extension
   interface="Autodesk.Connectivity.Explorer.Extensibility.IExplorerExtension, Autodesk.Connectivity.Explorer.Extensibility"
   type="adsk.ts.job.collection.user.ExplorerExtension, adsk.ts.job.collection.user">
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>