<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
     interface="Autodesk.Connectivity.JobProcessor.Extensibility.IJobHandler, Autodesk.Connectivity.JobProcessor.Extensibility"
     type="adsk.ts.acad.dwg3d.create.inventor.JobExtension, adsk.ts.acad.dwg3d.create.inventor">
      <setting key="JobType1" value="adsk.ts.acad.dwg3d.create.inventor"/>
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>